   body {background-color: lightblue;
};
    p {
    border-top: 5px solid red;
}

div {
    border-top: double;
};
    h2 {
    -moz-column-fill: auto; /* Firefox */
    column-fill: auto;

};
    
    p {
    font-size: 15px; font-family:  arial, sans-serif;
}

  h1{
    font-style: italic bold; font-size: 30px; font-family: Georgia, serif;
}
    
    h2 {
    font-style: italic bold; font-size: 30px; font-family: Georgia, serif;
};
    p {
    padding: 35px;
};
    
    p {
    margin: 35px;
}
    
    h1 {
    outline: 5px dotted violet;
}
.zanr {font-size: 40px; color:darkred;}